@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lato, sans-serif;
}
.custom-icon {
  font-size: 24px;
  color: #244329;
}
.custom-diamond .diamond {
  width: 16px;
  height: 16px;
  background-color: green;
  transform: rotate(45deg);
  position: relative;
}
